@model WarehouseManagementMVC.Models.Branch

@{
    ViewBag.Title = Model.Location;
}
<h1>@Model.Location Branch</h1>


<div>
    <hr />
    <h3>Items available in the branch</h3>

    <table class="table table-bordered">
        <tr>
            <th>Item Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Discount</th>
        </tr>
        @{
            if (Model.Items == null)
            {
                <tr>
                 <div style="margin:8px">
                     Currently no items added. <a href="@Url.Action("AddBranchItems", "Branch", routeValues:new {id=Model.Id })" class="btn btn-default">
                         Add
                         <span class="glyphicon glyphicon-plus-sign"></span>
                     </a>
                 </div>
                        
                    
                </tr>

            }
            else
            {
                foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Price</td>
                        <td>@item.Quantity</td>
                        <td>@item.DiscountPercentage</td>
                    </tr>
                }
            } }
    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
